@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

#root {
  width: 100%;
  display: grid;
  grid-template-rows: minmax(100vh, auto) auto;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: #f1f1f1;
  text-align: center;
}
